<h3>{{ movie.original_title }}</h3>
<!--
<div class="card">
	<img 
    [src]="movie.poster_path" 
    class="card-img-top" 
    [alt]="movie.original_title">
	<div class="card-body">
		<h5 class="card-title">
      {{ movie.original_title }}
			<span class="badge badge-primary">{{ movie.media_type | uppercase }}</span>
    </h5>
		<p class="card-text">
      {{ movie.original_title }} is a {{ movie.media_type }} that was released in {{ movie.release_date }}
    </p>
		<a 
      routerLink="/movie-detail" 
      [queryParams]="{ movieId: movie.imdbID }" 
      class="btn btn-primary">
			Learn More
		</a>
	</div>
</div>
-->